@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
  font-family: 'DotGothic16', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}


.heading .logo {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}

.heading nav a {
  display: block;
}
