@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid salmon;
  padding: 10px;
  margin: 20px;
  font-family: "Goblin One", cursive;
  position: fixed;
  top: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-list img {
  display: block;
  width: 100%;
}

.heading {
  background-image: url(../img/baby-yoda.svg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

footer h2 {
  background-color: green;
}

#contacts {
  background-color: red;
}

h2:hover {
  text-decoration: underline;
}

h1::first-letter,
h2::first-letter {
  font-style: italic;
  color: yellow;
}
